@use 'sass:list';
@use 'sass:color';

$colors: #000000, #080808, #0c1511, #226c4d, #2f9e6f, #3ccf91, #8f9094, #c4c4c6,
  #f8f8f8, #ffffff;

$extra-colors: (
  'err': #ee333d,
);

@mixin colors-base {
  @each $value in $colors {
    $index: list.index($colors, $value) - 1;
    @include useRawColor($index, $value);
  }

  @each $key, $value in $extra-colors {
    @include useRawColor($key, $value);
  }
}

@mixin useRawColor($name, $clr) {
  $red: color.red($clr);
  $green: color.green($clr);
  $blue: color.blue($clr);
  --color-raw-rgb-#{$name}: #{$red, $green, $blue};
}

:root {
  color-scheme: dark;
  @include colors-base;
}
